[submodule "ml_simulator"]
	path = ml_simulator
	url = https://git.cccgoe.de/jugendgruppe/ml_simulator.git
	branch = master
[submodule "matelight"]
    path = matelight
    url = https://git.cccgoe.de/jugendgruppe/matelight.git
    branch = master
